.ion-app{
	background-color: color($colors, dark);

	&.md,
	&.ios{
		background-color: inherit;
	}
}

.content{
	color: $text-color;
	
	&.content-ios{
		padding: $paddingGlobal;
	}

	.scroll-content{
		top: $paddingGlobal;
		left: $paddingGlobal;
		right: $paddingGlobal;
		bottom: $paddingGlobal;
		margin-top: $bar-height!important;
	}
}